allow servicemanager glgps:dir { search read write };
allow servicemanager glgps:file { open read write };
allow servicemanager glgps:process getattr;
allow servicemanager SecTVOut:dir { search };
allow servicemanager SecTVOut:file { read open };
allow servicemanager SecTVOut:process { getattr };