allow sysinit firmware_exynos:dir { read search open getattr };
allow sysinit firmware_exynos:dir { read search open getattr write remove_name add_name };
allow sysinit firmware_exynos:file { read open write getattr setattr create unlink };
allow sysinit sysinit:capability { dac_override chown fowner fsetid };

allow sysinit init:dir { search };
allow sysinit init:file { open read };
allow sysinit kernel:file { read open };
allow sysinit kernel:dir { search };
allow sysinit app_data_file:dir { search };

allow sysinit ueventd:dir { search read };
allow sysinit logd:dir { search read };
allow sysinit debuggerd:dir { search read };
allow sysinit vold:dir { search read };
#allow sysinit magisk:dir { search read };
allow sysinit healthd:dir { search read };
allow sysinit lmkd:dir { search read };
allow sysinit servicemanager:dir { search read };
allow sysinit surfaceflinger:dir { search read };
allow sysinit adbd:dir { search read };
allow sysinit zygote:dir { search read };
allow sysinit audioserver:dir { search read };
allow sysinit cameraserver:dir { search read };
allow sysinit drmserver:dir { search read };
allow sysinit installd:dir { search read };
allow sysinit keystore:dir { search read };
allow sysinit mediacodec:dir { search read };
allow sysinit mediadrmserver:dir { search read };
allow sysinit mediaextractor:dir { search read };
allow sysinit mediaserver:dir { search read };
allow sysinit netd:dir { search read };
allow sysinit rild:dir { search read };
allow sysinit tinyplay:dir { search read };
allow sysinit gatekeeperd:dir { search read };
#allow sysinit perfprofd:dir { search read };
allow sysinit bootanim:dir { search read };

allow sysinit ueventd:file { read open };
allow sysinit logd:file { read open };
allow sysinit debuggerd:file { read open };
allow sysinit vold:file { read open };
#allow sysinit magisk:file { read open };
allow sysinit healthd:file { read open };
allow sysinit lmkd:file { read open };
allow sysinit servicemanager:file { read open };
allow sysinit surfaceflinger:file { read open };
allow sysinit adbd:file { read open };
allow sysinit zygote:file { read open };
allow sysinit audioserver:file { read open };
allow sysinit cameraserver:file { read open };
allow sysinit drmserver:file { read open };
allow sysinit installd:file { read open };
allow sysinit keystore:file { read open };
allow sysinit mediacodec:file { read open };
allow sysinit mediadrmserver:file { read open };
allow sysinit mediaextractor:file { read open };
allow sysinit mediaserver:file { read open };
allow sysinit netd:file { read open };
allow sysinit rild:file { read open };
allow sysinit tinyplay:file { read open };
allow sysinit gatekeeperd:file { read open };
#allow sysinit perfprofd:file { read open };
allow sysinit bootanim:file { read open };