type wpa_supplicant, domain;
type wpa_supplicant_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(wpa_supplicant);

allow wpa_supplicant hidl_base_hwservice:hwservice_manager add;
allow wpa_supplicant hwservicemanager_prop:file { open read getattr };
allow wpa_supplicant self:capability { net_admin setgid setuid net_raw };
allow wpa_supplicant sysfs_cpuinfo:dir search;
allow wpa_supplicant sysfs_cpuinfo:file { getattr open read };
allow wpa_supplicant system_server:binder { call transfer };
allow wpa_supplicant hwservicemanager:binder { call transfer };
allow wpa_supplicant wifi_data_file:file { create getattr read open setattr write rename };
allow wpa_supplicant wpa_data_file:dir { remove_name rmdir add_name search setattr write };
allow wpa_supplicant self:netlink_socket { read write bind getattr create setopt };
allow wpa_supplicant self:packet_socket { bind create read write };
allow wpa_supplicant rfkill_device:chr_file { open read };
allow wpa_supplicant self:netlink_route_socket { bind read create nlmsg_write write };
allow wpa_supplicant efs_device_file:dir search;
allow wpa_supplicant system_data_file:file { read open };
allow wpa_supplicant efs_file:dir search;
allow wpa_supplicant hal_wifi_supplicant_default_exec:file entrypoint;
allow wpa_supplicant wifi_data_file:dir { add_name write search remove_name };
allow wpa_supplicant wpa_data_file:sock_file { write create setattr unlink };
allow wpa_supplicant self:udp_socket create;
allow wpa_supplicant self:udp_socket ioctl;